:root {
  --main-white: #fff;
  --light-pink: #cc97c1;
  --light-blue: #beb4d6;
  --light-blue2: #ae9ed5;
  --light-green: #afffde;

  /* 1rem = 10px*/
  font-size: 62%;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('background/bg-image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 0;
  margin: 0;
}

#appWrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

button {
  width: auto;
  padding: 1rem;
  font-size: 8rem;
  font-weight: bold;
  color: var(--main-white);
  background: var(--light-pink);
  border: 0;
  border-radius: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background .3s;
}

button:hover {
  background-color: var(--light-blue2);
}

#modal {
  transition: 3s;
  opacity: 0;
  transform: translate(0, 500px);
}

#modal.show {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.8);
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: auto;
  top: 0;
  left: 0;
  right: 0;
}

#modal.show div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;

  padding: 3rem;
  height: 70rem;
  width: auto;
  margin: 2rem;

  text-align: center;

  border-radius: 2rem;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.5);
  background-color: var(--light-green);

}

#modal.show div h4 {
  font-size: 12rem;
  margin: 0;
}

#modal.show div h3 {
  font-size: 10rem;
  margin: 0;
}
button.closeModal {
  font-size: 6rem;
  padding: 5rem;
}
button.closeModal:hover {
  background-color: var(--light-blue);
}


#app {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: #fcfcda;
}

#app #header {
  width: 100%;
  height: 33.33%;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#app #header h1 {
  color: var(--light-pink);
  text-shadow: 5px 6px 5px rgb(0 0 0 / 21%);
  font-size: 10rem;
  margin: 0;
  padding: 0;
}

#app #header h3 {
  font-size: 8rem;
  color: var(--light-pink);
  margin: 0;
  padding: 0;
}
#app #header .scoreBoard {
  position: relative;

  padding: 3rem 0;
  border-radius: 2rem;
  margin: 1rem;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
 
  font-size: 5rem;
  text-transform: uppercase;

  background: var(--light-pink);
  border: 5px solid #c7f6d4;
  color: var(--main-white);

  box-shadow: 6px 8px 11px 3px rgb(0 0 0 / 21%);
}


#header .scoreBoard .player1,
#header .scoreBoard .player2 {
  color: var(--light-pink);
  background: #fcfcda;
  padding: 2rem;
  border-radius: 1rem;
}

#header .scoreBoard .ressetPlayerPoints {
  position: absolute;
  left: -3rem;
  top: -3rem;

  width: 6rem;
  height: 6rem;
  padding: 1rem;

  border-radius: 100%;

  border: 3px solid var(--light-green);
  background: var(--light-pink);

  transition: background .3s;
  cursor: pointer;
}

#header .scoreBoard .ressetPlayerPoints:hover {
  background-color: var(--light-blue2);
}


#app #container .main {
  width: 100%;
  height: 100%;
  width: 900px;
  height: 900px;

  overflow: hidden;
  position: relative;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;

  border-radius: 8px;
  background: #c0b6c3;
  box-shadow: 6px 8px 11px 3px rgb(0 0 0 / 21%);
}
#container .main span {
  width: 100%;
  height: 100%;
  background: #c7f6d4;

  display: flex;
  align-items: center;
  justify-content: center;
}


#container .main .circle {
  width: 14rem;
  height: 14rem;
  border: 2rem solid #bc95c9;
  border-radius: 100%;
  box-shadow: 4px -3px 10px 1px rgb(0 0 0 / 30%);
}

#container .main .cross {
  width: 17rem;
  height: 17rem;
}

.cross:before,
.cross:after {
  content: "";
  height: 100%;
  background-color: #fa95b7;
  border: 1rem solid #fa95b7;
  box-shadow: 4px -3px 10px 1px rgb(0 0 0 / 30%);
}
.cross:before {
  transform: translateX(0.2rem) rotate(45deg);
}
.cross:after {
  transform: translateX(-0.3rem) rotate(-45deg);
}



.winLineContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.winLineContainer.show {
  display: block;
}

.winLineContainer .linePosition {
  width: 100%;
  height: 100%;
  display: flex;
}

.winLineContainer .linePosition[data-position="line-1"] {
  align-items: flex-start;
  transform: rotate(0deg);
}

.winLineContainer .linePosition[data-position="line-2"] {
  align-items: center;
  transform: rotate(0deg);
}

.winLineContainer .linePosition[data-position="line-3"] {
  align-items: flex-end;
  transform: rotate(0deg);
}

.winLineContainer .linePosition[data-position="col-1"] {
  align-items: flex-start;
  transform: rotate(-90deg);
}

.winLineContainer .linePosition[data-position="col-2"] {
  align-items: center;
  transform: rotate(-90deg);
}

.winLineContainer .linePosition[data-position="col-3"] {
  align-items: flex-end;
  transform: rotate(-90deg);
}

.winLineContainer .linePosition[data-position="diagonal-1"] {
  align-items: center;
  transform: rotate(45deg);
}

.winLineContainer .linePosition[data-position="diagonal-2"] {
  align-items: center;
  transform: rotate(-45deg);
}

.winLineContainer .winLinePosition {
  width: 100%;
  height: calc(100% / 3);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.winLineContainer .winLineElement {
  width: 95%;
  background-color: #95a1fa;
  border: 1rem solid #95a1fa;
  box-shadow: 0px 0px 5px 2px #e8dff5;
}



#app #footer {
  width: 100%;
  height: 33.33%;
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#audioButton {
  display: flex;
  gap: 2rem
}

#audioButton button#music,
#audioButton button#audio {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 2rem;

  background-color: transparent;
  border: .7rem solid var(--light-green);
  border-radius: 2rem;
  background: var(--light-pink);
  transition: none;
}

#audioButton button#music.active,
#audioButton button#audio.active {
  background: var(--light-blue);
}

#audioButton img {
  width: 7rem;
  height: 7rem;
}
